<app-header></app-header>

<main class="container">
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/champinon-corporal-510x510.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Champiñón corporal</h2>
      <p class="precio">55 $</p>
      <p class="texto">
        Especialmente creado para combatir la celulitis. Además, ayuda a
        desaparecer los espasmos musculares y lumbagos, también sirve para
        reducir el abdomen y para aplicar masajes antiestrés.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/ventosas-set-510x680.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Set de ventosas acrílicas de 10 piezas</h2>
      <p class="precio">45 $</p>
      <p class="texto">
        Set de ventosas acrílicas de 10 piezas con bomba de vacío. El set se
        almacena en un pequeño maletín que incluye una bomba de vacío.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/copa-sueca-mediana-maderoterapia-510x510.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Copa Sueca Mediana</h2>
      <p class="precio">56 $</p>
      <p class="texto">
        Hace un efecto de succión sobre la piel, ayudando a localizar y drenar
        hacia los ganglios linfáticos las grasas y líquidos encontrados en la
        piel. Este tratamiento mejora la circulación, aumenta la zona del glúteo
        y tonifica muslos y espalda.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/rodillo-cubos-grasa-maderoterapia-510x680.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Rodillo Cubos Rompe Grasa</h2>
      <p class="precio">57 $</p>
      <p class="texto">
        Especialmente diseñado para trabajar la cintura, la cadera, las piernas,
        el costado y el abdomen. Reduce generosamente la masa corporal, elimina
        las lipodistrofias y combate la celulitis.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/Carrito-de-transporte-para-camillas-510x510.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Carrito de transporte para camillas</h2>
      <p class="precio">40 $</p>
      <p class="texto">Carrito de transporte para camillas.</p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/moxa-510x569.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Barras de moxa sin humo</h2>
      <p class="precio">50 $</p>
      <p class="texto">
        Barras de moxa de artemisa prensada pura china. Moxa SIN humo.
        Producción mínima de humos y olores. Calor uniforme. Compra unidades
        sueltas o caja de 5 puros de moxa.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/kinesiotape-510x510.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Kinesiotape Vendaje Sintético de Asiamed</h2>
      <p class="precio">9 $</p>
      <p class="texto">
        Venda sintética kinesiotape ideal para la terapia «power taping»
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/rodillo-estriado-510x680.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Rodillo Estriado Mazorca Giratorio 7 Barriles</h2>
      <p class="precio">68 $</p>
      <p class="texto">
        Es ideal para trabajar zonas donde es más frecuente que aparezca la
        celulitis como los muslos, las caderas, la cintura, los glúteos, el
        abdomen y las piernas.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/Bolsa-de-transporte-especial-de-nylon-1-510x510.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Bolsa de transporte especial para camillas</h2>
      <p class="precio">55 $</p>
      <p class="texto">Bolsa de transporte especial con 3 asas.</p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/hilo-algodon.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Hilo de algodón orgánico</h2>
      <p class="precio">5 $</p>
      <p class="texto">
        Hilo especial para depilación con hilo. Fabricado con algodón orgánico
        ecológico de fibra extra larga para asegurar menos roturas. Tiene una
        estructura uniforme lo que da un tacto suave a la piel. Contenido: 1
        bobina de 300 m.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/Camilla-de-Masaje-Accua-Articulada-510x510.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Camilla de Masaje Articulada</h2>
      <p class="precio">380 $</p>
      <p class="texto">
        Camilla de masaje articulada con respaldo abatible que eleva la cabeza
        del paciente hasta en 45°. Materiales: Polipiel, acero, cobre, madera de
        samba y aluminio.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/rodillo-facial-mango-corto-510x668.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Rodillo Facial Mango Corto</h2>
      <p class="precio">47 $</p>
      <p class="texto">
        Ayuda a la atenuación y tonificación de líneas de expresión y favorece
        la circulación. A diferencia de otro tipo de tratamientos, moviliza la
        grasa con una agresividad nula para tu piel.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/Camilla-ROCKY-510x510.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Camilla de Masaje con Apoyabrazos</h2>
      <p class="precio">360 $</p>
      <p class="texto">
        Camilla de masaje plegable con sistema ajustable a lo largo y ancho y
        apoyabrazos. Materiales: Polipiel, acero, cobre, madera de samba y
        aluminio anodizado.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/Parche-de-Calor-HerbaChaud-510x510.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Parche de Calor HerbaChaud</h2>
      <p class="precio">40 $</p>
      <p class="texto">
        Parches herbales con efectos analgésicos y antinflamatorios.
        Características: Alivian el dolor y las molestias. Hechos con
        ingredientes 100% naturales y herbales.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/Sabana-bajera-510x510.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Sábana bajera</h2>
      <p class="precio">30 $</p>
      <p class="texto">
        Sábana bajera para camillas de masaje. Disponible solo en color blanco.
        Las únicas utilizadas en Templo del Masaje.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/Inyector-Acupuntura-Facial-510x510.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Inyector Acupuntura Faciall</h2>
      <p class="precio">15 $</p>
      <p class="texto">
        Usado para inyectar las agujas de acupunutra facial o manoacupuntura con
        facilidad y seguridad. Los imanes permiten fijar las agujas de forma
        segura.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/Apoyabrazos-para-camilla-510x510.jpg"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Apoyabrazos para camilla</h2>
      <p class="precio">40 $</p>
      <p class="texto">
        Apoyabrazos para camilla cómodo y extensible. Se adapta perfectamente a
        las camillas Solaria.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/Cojin-mariposa-510x510.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Cojín mariposa</h2>
      <p class="precio">250 $</p>
      <p class="texto">
        Cojín de mariposa ideal para consultas de fisioterapia. Materiales:
        Polipiel y espuma.
      </p>
      <button routerLink="/info">Comprar</button>
    </div>
  </section>
</main>

<app-footer></app-footer>
