.container {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Ysabeau", sans-serif;
}

.curso {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  margin: 40px;
  justify-content: center;
  img {
    width: 400px;
    height: 400px;
  }
}

.imagen {
  width: 100%;
  height: auto;
}
.content-text {
  width: 60%;
  height: auto;
  font-weight: 700;
  padding-right: 300px;
  button {
    color: rgb(249 115 22);
    border: none;
    width: 100px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in;
  }
  button:hover {
    background-color: rgb(249 115 22);
    color: #fff;
  }

  h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.precio {
  font-size: 25px;
  margin-bottom: 30px;
}
.texto {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .curso {
    img {
      width: 280px;
      height: 280px;
    }
  }
  .content-text {
    padding-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .curso {
    flex-direction: column;
    img {
      width: 100%;
      height: auto;
    }
  }
  .content-text {
    margin-left: 0;
    width: inherit;
    h2 {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .curso {
    flex-direction: column;
    img {
      width: 320px;
      height: 320px;
    }
  }
  .content-text {
    margin-left: 0;
  }
}
