<app-header></app-header>

<main class="container">
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/curso-iniciacion-masaje.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Curso de iniciación al masaje</h2>
      <p class="precio">250 $</p>
      <p class="texto">
        Éste es un curso mayoritariamente práctico, que va dirigido a cualquier
        persona que quiera iniciarse en esta Técnica Manual. El principal
        objetivo de este curso es dotar al alumno de conocimientos y técnicas de
        aplicación del Quiromasaje general, ya sea como base a una formación
        posterior con carácter profesional del Quiromasaje o como una
        herramienta más dentro de la cultura de salud y calidad de vida.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/masaje-pareja-curos.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Curso de Masaje en Pareja</h2>
      <p class="precio">180 $</p>
      <p class="texto">
        Curso mayoritariamente práctico, que va dirigido a cualquier pareja que
        quiera iniciarse en esta Técnica Manual. En este curso hay que venir
        acompañado de tu pareja, de un familiar o amigo.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img
        src="../../../../assets/image/meditacion-grupo-2330623.webp"
        alt=""
      />
    </div>
    <div class="content-text">
      <h2>Curso de Meditación Avanzado</h2>
      <p class="precio">50 $</p>
      <p class="texto">
        En el curso profundizaremos en la práctica de la meditación, reforzando
        lo ya aprendido en el curso de iniciación complementándolo con otras
        técnicas y prácticas de meditación.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/shiatsu-510x764.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Curso de Shiatsu</h2>
      <p class="precio">250 $</p>
      <p class="texto">
        Éste es un curso, mayoritariamente práctico, que va dirigido a cualquier
        persona que quiera iniciarse en esta Técnica Manual. En este curso
        aprenderemos lo más básico para poder dar un shiatsu completo.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/drenaje-linfatico.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Curso de Drenaje Linfático Manual</h2>
      <p class="precio">250 $</p>
      <p class="texto">
        Curso teórico práctico de drenaje linfático manual en Valencia con el
        que conseguiremos la activación manual del líquido intersticial y la
        linfa a través de sus canales linfáticos. Para ello daremos las bases
        teóricas de anatomía y fisiología para poder realizar esta técnica de
        forma segura y eficaz. Se verán las aplicaciones tanto para pre como
        para post cirugías, probemas de retención de líquidos y otros.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
</main>

<app-footer></app-footer>
