<app-header></app-header>
<section class="contianer-1">
  <article class="content-fondo">
    <img src="../../../../assets/image/tienda-masaje2.jpg" alt="..." />
  </article>
  <article class="card-oferta">
    <div>
      <h2 class="title-oferta">OFERTA ESPECIAL</h2>
      <p class="parrafo-oferta">MASAJE EN PAREJA DE 60 MINUTOS</p>
      <div class="btn-precio">
        <button routerLink="/info">RESERVAR</button>
        <p>100$</p>
      </div>
    </div>
  </article>
</section>

<section class="container-2">
  <article class="content-product1">
    <div class="masaje-1">
      <h2>Masajes</h2>
      <div class="content-product-msg">
        <div class="masg-1">
          <h3>Masajes Relajantes</h3>
          <img src="../../../../assets/image/MASAJE-RELAJANTE-1.jpg" alt="" />

          <p class="precio-product-card">Precio: 52$</p>
          <button routerLink="/info">Reservar</button>
        </div>
        <div class="masg-1">
          <h3>Masaje Deportivo</h3>
          <img src="../../../../assets/image/masaje=depor.jpg" alt="" />

          <p class="precio-product-card">Precio: 120$</p>
          <button routerLink="/info">Reservar</button>
        </div>
        <div class="masg-1">
          <h3>Masaje de Drenaje Linfático</h3>
          <img src="../../../../assets/image/mujer-masaje.jpg" alt="" />

          <p class="precio-product-card">Precio: 69$</p>
          <button routerLink="/info">Reservar</button>
        </div>
      </div>
    </div>
    <div class="product-venta-1">
      <h2>Productos</h2>
      <div class="content-product-msg">
        <div class="masg-1">
          <h3>Aceite De coco</h3>
          <img src="../../../../assets/image/aceite-coco.jpg.webp" alt="" />

          <p class="precio-product-card">Precio: 25$</p>
          <button routerLink="/info">Comprar</button>
        </div>
        <div class="masg-1">
          <h3>Aceite de Lavanda</h3>
          <img
            src="../../../../assets/image/aceite-esencial-lavanda.webp"
            alt=""
          />

          <p class="precio-product-card">Precio: 50$</p>
          <button routerLink="/info">Comprar</button>
        </div>
        <div class="masg-1">
          <h3>Aceite Almendras</h3>
          <img src="../../../../assets/image/aceite-almendras.jpg" alt="" />

          <p class="precio-product-card">Precio: 39$</p>
          <button routerLink="/info">Comprar</button>
        </div>
      </div>
    </div>
  </article>
</section>

<section class="container-3">
  <article class="container-gift-curso">
    <div class="gift">
      <a routerLink="/products">
        <img src="../../../../assets/image/relago.webp" alt="" />
        <p class="title-gift">Regalo</p>
      </a>
    </div>
    <div class="cursos">
      <a routerLink="/cursos">
        <img src="../../../../assets/image/curso.jpg" alt="" />

        <p class="title-curso">Cursos</p>
      </a>
    </div>
  </article>
</section>

<section class="container-4">
  <article class="product-variados">
    <div class="product-vnt-1">
      <h2>Rodillo</h2>
      <img src="../../../../assets/image/rodillo-msaje.jpeg" alt="" />
      <p>Precio: 78$</p>
      <button routerLink="/info">Comprar</button>
    </div>
    <div class="product-vnt-1">
      <h2>Camilla</h2>
      <img src="../../../../assets/image/camilla-msaje.webp" alt="" />
      <p>Precio: 309$</p>
      <button routerLink="/info">Comprar</button>
    </div>
    <div class="product-vnt-1">
      <h2>Alfombra</h2>
      <img src="../../../../assets/image/alfonbra.jpg" alt="" />
      <p>Precio: 25$</p>
      <button routerLink="/info">Comprar</button>
    </div>
    <div class="product-vnt-1">
      <h2>Palo masajeador</h2>
      <img src="../../../../assets/image/palo-masaje.jpg" alt="" />
      <p>Precio: 55$</p>
      <button routerLink="/info">Comprar</button>
    </div>
  </article>
</section>

<app-footer></app-footer>
