.container-footer {
  width: 100%;
  height: auto;
  background-color: rgb(161 98 7);
  margin-bottom: 0;
}
a {
  transition: all 0.5s ease-in;
}
a:hover {
  color: rgb(249, 177, 76);
}
.title {
  font-size: 37px;
  font-weight: 700;
}
.footer-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.menu-list {
  display: flex;
  width: 500px;
  ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  a {
    transition: all 0.5s ease-in;
  }
  a:hover {
    color: rgb(249, 177, 76);
  }
}

.redes {
  display: flex;
  gap: 20px;
  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  color: black;
}
.footer-mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    & .redes {
      justify-content: center;
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
