<div class="container-header">
  <div class="header-desktop">
    <div class="menu-list">
      <ul>
        <a routerLink="/home">
          <li>Inicio</li>
        </a>
        <a routerLink="/cursos">
          <li>Cursos</li>
        </a>
        <a routerLink="/masajes">
          <li>Masajes</li>
        </a>
        <a routerLink="/products">
          <li>Productos</li>
        </a>
        <a routerLink="/blog">
          <li>Mundo masaje Blog</li>
        </a>
        <a routerLink="/info">
          <li>Info</li>
        </a>
      </ul>
    </div>
    <div class="redes">
      <img
        src="../../../../assets/icon/social-instagram-svgrepo-com.svg"
        alt=""
      />
      <img src="../../../../assets/icon/social-email-svgrepo-com.svg" alt="" />
      <img
        src="../../../../assets/icon/social-whatsapp-svgrepo-com.svg"
        alt=""
      />
    </div>
  </div>

  <div class="header-mobile">
    <div class="redes">
      <img
        src="../../../../assets/icon/social-instagram-svgrepo-com.svg"
        alt=""
      />
      <img src="../../../../assets/icon/social-email-svgrepo-com.svg" alt="" />
      <img
        src="../../../../assets/icon/social-whatsapp-svgrepo-com.svg"
        alt=""
      />
    </div>
  </div>
</div>
