<app-header></app-header>

<section class="google-maps">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.779121860825!2d-68.01635454716732!3d10.260653324483545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e805c425a7cd6b3%3A0x2f6cce9b660ecb4f!2sEl%20Retobo%2C%20Naguanagua%202005%2C%20Carabobo!5e0!3m2!1ses!2sve!4v1682710467369!5m2!1ses!2sve"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>

<div class="content-titulo">
  <section class="titulo-reserva">
    <h1>Pasos para obtener una reserva</h1>
  </section>
</div>

<section class="info-empresa">
  <div class="paso">
    <img src="../../../../assets/image/linkwhasa.jpg" alt="" />

    <h3>1. Agenda cita con nuestro agente especializado</h3>
    <a class="link" href="youtube.com" target="_blank">
      Nuestro numero de whatsapp
    </a>
  </div>
  <div class="paso">
    <img src="../../../../assets/image/cita-masaje-tera.webp" alt="" />
    <h3>2. Vamos a Ti</h3>
    <p>
      Un terapeuta certificado llega a tu puerta con todo lo necesario - mesa,
      sábanas, aceites y música relajante.
    </p>
  </div>
  <div class="paso">
    <img src="../../../../assets/image/cita-masaje.webp" alt="" />
    <h3>3. Disfruta</h3>
    <p>
      Relájate con un masaje de lujo en tu lugar de preferencia, ya sea tu casa,
      oficina u hotel.
    </p>
  </div>
</section>

<section class="formulario">
  <div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
      <form action="https://formbold.com/s/FORM_ID" method="POST">
        <div class="formbold-input-flex">
          <div>
            <input
              type="text"
              name="firstname"
              id="firstname"
              class="formbold-form-input"
            />
            <label for="firstname" class="formbold-form-label"> Nombre </label>
          </div>
          <div>
            <input
              type="text"
              name="lastname"
              id="lastname"
              class="formbold-form-input"
            />
            <label for="lastname" class="formbold-form-label">
              Segundo Nombre
            </label>
          </div>
        </div>
        <div class="formbold-input-flex">
          <div>
            <input
              type="email"
              name="email"
              id="email"
              class="formbold-form-input"
            />
            <label for="email" class="formbold-form-label"> Email</label>
          </div>
          <div>
            <input
              type="text"
              name="phone"
              id="phone"
              class="formbold-form-input"
            />
            <label for="phone" class="formbold-form-label"> Telefono </label>
          </div>
        </div>
        <div class="formbold-textarea">
          <textarea
            rows="6"
            name="message"
            id="message"
            placeholder="Escribe tu mensaje"
            class="formbold-form-input"
          ></textarea>
          <label for="message" class="formbold-form-label"> Mensaje</label>
        </div>

        <button class="formbold-btn">Enviar</button>
      </form>
    </div>
  </div>
</section>

<div class="content-info-pago">
  <section class="info-empresa-contacto">
    <h2>CONTÁCTANOS</h2>
    <p>Tlf: +58 424 4433022</p>
    <p>Email: webxysystem@gmail.com</p>
    <h2>Direccion</h2>
    <p>Avda. El Retobo Naguanagua 2005, Carabobo</p>
    <h2>Horario</h2>
    <p>Abierto de Lunes a Domingo de 10:00 a 22:00</p>
  </section>

  <section class="metodos-pago">
    <h2>Metodos de pago</h2>
    <img src="../../../../assets/image/binance-pay.jpg" alt="" />
  </section>
</div>
<app-footer></app-footer>
