<app-header></app-header>

<main class="container">
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/tecnica-metamorfica.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Técnica metamórfica</h2>
      <p class="precio">60 $</p>
      <p class="texto">
        Masaje metamórfico o técnica metamórfica. Masaje muy suave. Escoge el
        tiempo que quieras, desde 20 a 60 minutos.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/masaje-embarazada.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Masaje para embarazadas.</h2>
      <p class="precio">105 $</p>
      <p class="texto">
        Escoge el tiempo que quieras, desde 20 a 60 minutos. En masajes a partir
        de 40 minutos, puedes incluir cuerpo entero (craneofacial, espalda,
        piernas, brazos, cuello, pies).
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/ritual-ayurveda (1).jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Ritual Ayurveda</h2>
      <p class="precio">76 $</p>
      <p class="texto">
        Ritual ayurvédico o ritual ayurveda. Duración: una hora y cuarto
        aproximadamente.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/masaje-tailandes.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Masaje Tailandés</h2>
      <p class="precio">45 $</p>
      <p class="texto">
        Es un masaje completo, que se aplica a todo el cuerpo, trabajando desde
        los dedos de los pies hasta la cabeza para ofrecer una sensación de
        profunda paz, tanto en cuerpo como en mente.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/abyangha-510x340.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Masaje Abyangha</h2>
      <p class="precio">56 $</p>
      <p class="texto">
        Masaje Abyangha ayurveda milenario (Mukha Abyangha, Shiro Abyangha o
        Abyangha) para trabajar cara, cabeza o cuerpo según las necesidades de
        tu dosha.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/masaje-anticelulitico.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Masaje Anticelulítico</h2>
      <p class="precio">22 $</p>
      <p class="texto">
        Masaje anticelulítico. Escoge el tiempo que quieras, desde 20 a 60
        minutos.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
  <section class="curso">
    <div class="imagen">
      <img src="../../../../assets/image/GK4C1729-510x765.jpg" alt="" />
    </div>
    <div class="content-text">
      <h2>Masaje Tuina</h2>
      <p class="precio">50 $</p>
      <p class="texto">
        El tuina o masaje chino es probablemente el masaje terapéutico más
        antiguo que se conoce y que aún se practica. Trabaja los puntos de la
        Medicina Tradicional China (MTC), los cuales se unen con unos canales,
        buscando el equilibrio energético.
      </p>
      <button routerLink="/info">Reservar</button>
    </div>
  </section>
</main>

<app-footer></app-footer>
